[submodule "Contrib/json-framework"]
  path = Contrib/json-framework
  url = https://github.com/stig/json-framework.git
[submodule "Contrib/scifihifi-iphone"]
  path = Contrib/scifihifi-iphone
  url = https://github.com/ldandersen/scifihifi-iphone.git
